* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* img {
    width: 100%;
    height: 100%;
} */

body {
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.heading {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    padding: 60px 0 40px 0;
    color: rgb(25, 24, 24);
}

.our-impact {
    color: #fff;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 9999;
    transition: all .5s ease-in;
}

.mobile-nav-toggle {
    display: none;
}

.logo {
    width: 200px;
    height: 50px;
    margin: 1rem 0;
}

@media (max-width: 500px) {
    .logo {
        width: 100px;
        height: 30px;
    }
}

@media (min-width: 500px) and (max-width: 900px) {
    .logo {
        width: 150px;
        height: 40px;
    }
}

.primary-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-nav a {
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
}

body .donate {
    background-color: #15EB89;
    padding: 10px 12px;
    color: #fff;
    border-radius: 5px;
}

body .active {
    padding-bottom: 9px;
    color: rgba(0, 0, 0, 0.503);
    border-bottom: 1px solid #15eb8b81;
}

.donate-active {
    color: #000;
}

.primary-nav a:hover {
    color: rgba(0, 0, 0, 0.503);
    border-bottom: 1px solid #15EB89;
    padding-bottom: 9px;
}

body .donate:hover {
    color: #000;
}

@media (max-width: 50em) {

    .primary-nav {
        display: flex;
        --gap: 2em;
        position: fixed;
        z-index: 1000;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 50%;

        flex-direction: column;
        padding: min(20vh, 5rem) 2em;

        background: #f9f5f5;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-nav[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        width: 1.5rem;
        border: 0;
        aspect-ratio: 1;
        right: 2rem;
    }

    /* .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url('./assets/icons/icons8-close-24.png');
    } */

    .close {
        display: none;
    }
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.flex {
    display: flex;
    gap: var(--gap, 3rem);
}

/* Scroll */

@media (min-width: 50em) {

    header {
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        justify-content: space-around;

    }

    .scroll-down header {
        transform: translate3d(0, -100%, 0);
        transition: all 300ms ease-in-out;
    }

    .scroll-up header {
        position: fixed;
        height: 60px;
        filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
    }
}

/* End of Scroll */


.hero {
    display: flex;
}

.first-box {
    width: 100%;
    background-color: #DCFEC1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    padding: 40px 0;
}

.donate-btn {
    background-color: #15EB89;
    border: none;
    padding: 10px 12px;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.donate-btn:hover {
    color: #000;
}

.first-box h3,
.parag {
    max-width: 70%;
    padding: 10px 0;
}

.first-box h3 {
    margin-top: 16px;
    font-size: 2rem;
    color: #000;
}

.parag {
    font-size: 1.2rem;
    line-height: 1.6;
}

.parag>* {
    margin: 16px 0;
}

.second-box {
    display: none;
}

@media (min-width:900px) {

    .first-box {
        width: 70%;
    }

    .second-box {
        display: block;
        width: 30%;
        background: #f2c87a;
        background: linear-gradient(180deg, rgba(242, 200, 122, 1) 41%, rgba(255, 255, 255, 1) 100%);
    }
}

.hero-img {
    width: 115%;
    height: 100%;
    margin-left: -50px;
}

.numbers {
    border: 7px solid #15EB89;
    border-radius: 50%;
    padding: 50px;
    font-size: 2rem;
    font-weight: 600;
}

.impact-conc {
    height: 500px;
    background: url(./assets/img/impact-bg.jpg) center center;
    background-size: cover;
    color: #f5f5f5;
}

.overlay {
    background: #000000bf;
    height: 100%;
}


.green-line {
    display: inline-block;
    height: 2px;
    background-color: #15EB89;
    width: 70px;
}

.impact {
    display: flex;
    gap: 4rem;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.text {
    margin-top: 1rem;
}

.text-info {
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.text-info img {
    width: 200px;
    height: 300px;
    margin-left: 20px;
}

.texts p {
    padding: 10px 0;
    max-width: 800px;
    font-size: 1.2rem;
}


/* @media (max-width: 500px) {
    .impact-conc {
        height: 100%;
    }

    .overlay {
        padding-bottom: 40px;
    }
    .impact {
        display: grid;
        justify-content: center;
        grid-template-columns: 150px;
    }
}

@media (min-width: 500px) and (max-width: 700px){
    .impact-conc {
        height: 100%;
    }

    .overlay {
        padding-bottom: 40px;
    }

    .impact {
        display: grid;
        justify-content: center;
        grid-template-columns: 150px 150px;
    }
} */

@media (max-width: 900px) {
    .green {
        color: #15EB89;
    }

    .orange {
        color: #f2c87a;
    }

    .numbers {
        border: none;
        padding: 0;
        font-size: 3.5rem;
    }

    .text {
        font-size: 1.5rem;
    }

    .impact-conc {
        height: 100%;
    }

    .overlay {
        padding-bottom: 40px;
    }

    .impact {
        display: grid;
        justify-content: center;
    }
}

.who-we-are {
    display: grid;
    justify-content: center;
    line-height: 1.8;
}

.staff-info {
    display: flex;
    margin-top: 60px;
    align-items: center;
    gap: 3.5em;
    margin: 60px 20px;
}

.staff-img img {
    width: 320px;
    height: 320px;
}

.staff-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 420px;
}

.quote {
    margin: 2rem 0;
}

.name {
    font-weight: 700;
    margin-bottom: 5px;
}

@media (max-width: 500px) {
    .who-we-are {
        display: block;
        margin: 0 20px;
    }

    .texts p {
        font-size: .8rem;
    }

    .text-info img {
        width: 100px;
        height: 80px;
    }

    .staff-info {
        flex-direction: column;
        gap: 1.5rem;
    }

    .staff-img img {
        width: 100%;
        height: 100%;
    }

    .quote {
        font-size: .8rem;
        margin: 1rem 0;
    }

    .name {
        font-size: 1rem;
    }

    .title {
        font-size: .9rem;
    }
}

@media (min-width: 500px) and (max-width: 800px) {
    .who-we-are {
        display: block;
        margin: 0 20px;
    }

    .texts p {
        font-size: .9rem;
    }

    .text-info img {
        width: 120px;
        height: 150px;
    }

    .staff-img img {
        width: 200px;
        height: 200px;
    }

    .quote {
        font-size: 1rem;
        margin: 1rem 0;
    }

    .name {
        font-size: 1.2rem;
    }

    .title {
        font-size: 1rem;
    }
}


.newsletter {
    display: flex;
    background-color: #f5f5f5;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 0 20px;
}

.newsletter-text {
    font-size: 1.2rem;
    max-width: 700px;
}

.newsletter-text h3 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.newsletter-text p {
    margin-right: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.newsletter-input {
    width: 350px;
    padding: 9px 20px 9px 20px;
    margin: 10px 0;
    font-size: 1rem;
    border: none;
}

.submit {
    background-color: #15EB89;
    border: none;
    border-radius: 5px;
    color: #f9f5f5;
}

.submit:hover {
    color: #000;
    cursor: pointer;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.59);
}

@media (max-width: 800px) {
    .newsletter {
        padding-top: 90px;
        padding-bottom: 90px;
        flex-direction: column;
        height: 100%;
    }

    .newsletter-text {
        margin-bottom: 30px;
        max-width: 320px;
    }

    .newsletter-input {
        width: 320px;
    }
}

.footer {
    padding: 0 40px;
    background-color: #504B4B;
    padding-bottom: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
}

footer {
    min-width: 900px;
    width: 100%;
}

.footer-conc {
    display: flex;
    padding: 0 15px;
    margin: 0 20px;
    justify-content: space-between;
}

.footer-links {
    list-style: none;
}

.footer-links li {
    padding: .7rem 0;
}

.footer-links li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    font-size: .9rem;
}

.footer-links li a:hover {
    color: rgba(0, 0, 0, 0.927);
}

.link-column {
    margin-top: 20px;
}

.link-column p {
    padding-top: .7rem;
    text-transform: uppercase;
}

.footer-btn {
    margin-top: 10px;
    border: none;
    padding: 13px 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #15EB89;
    cursor: pointer;
    text-transform: uppercase;
}

.footer-btn:hover {
    color: #000;
}

.bottom-line {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #15eb8b57;
    height: 1px;
    border: none;
}

.copy-right {
    text-align: center;
    margin-top: 3px;
    font-size: .75rem;
}

@media (max-width: 800px) {
    footer {
        min-width: 100%
    }

    .footer {
        display: block;
        padding: 0;
    }

    .footer-links li a {
        font-size: .7rem;
        padding: .7rem;
    }

    .copy-right {
        font-size: .5rem;
    }

    .newsletter-p {
        font-size: .7rem;
    }

    .footer-btn {
        font-size: .7rem;
        padding: 10px 7px;
    }
}

@media (min-width: 800px) and (max-width: 900px) {
    footer {
        min-width: 100%
    }

    .footer {
        display: block;
        padding: 0;
    }

    .footer-links li a {
        font-size: .9rem;
        padding: .7rem;
    }

    .copy-right {
        font-size: .7rem;
    }

    .newsletter-p {
        font-size: .9rem;
    }

    .footer-btn {
        font-size: .8rem;
        padding: 10px 7px; 
    }
}
