.about {
    display: flex;
    justify-content: center;
    margin: 0 40px;
}

.about-conc {
    max-width: 1000px;
    display: grid;
    justify-items: center;
}

.about-img-info {
    display: flex;
    gap: 30px;
    margin: 30px 0;
    justify-content: center;
}

.main-img img {
    width: 100%;
    border-radius: 5px;
}

.main-img-text {
    margin-top: 40px;
    margin-bottom: 16px;
    line-height: 1.5;
    font-size: 1.2rem;
}

.about-img {
    display: flex;
}

.about-img img{
    width: 361px;
    height: 250px;
}

.about-img-text {
    align-self: center;
}

.about-p p {
line-height: 1.6;
font-size: 1.2rem;
}

.text-conc {
    max-width: 800px;
}

.top {
    margin-top: 20px;
}

.about-info-top p, .about-img-info p, .full-width-text p, .about-img-info p{
    font-size: 16px;
}

.full-width-text h3{
    padding: 0;
    margin-bottom: 10px;
    max-width: 100%;
    font-weight: 600;
    font-size: 24px;
}

.full-width-text li {
    margin-top: 20px;
    font-size: 20px;
}

.thematic-areas {
    list-style: none;
}


.li-conc {
    display: flex;
}

.li-icon {
    margin-top: 22px;
}

.core-values li {
    margin-top: 20px;
    font-size: 20px;
}

.principle-items {
    display: flex;
    margin-bottom: 16px;
}
.principle-items h3 {
    font-weight: 500;
    font-size: 1.2rem;
}

.principle-conc {
    margin-bottom: 60px;
}



@media (max-width:700px) {

    .about {
        font-size: 1rem;
    }
    .about-img-info {
        flex-direction: column-reverse;
        gap: 16px;
    }

    .about-img img {
        width: 100%;
        object-fit: contain;
    }

    .about-p {
        min-width: 100%;
    }

    
}

@media (min-width:700px) and (max-width: 700px){

    .about {
            font-size: 1.1rem;
        }

    .about-img-info {
        gap: 30px;
    }
 

    .about-p {
        min-width: 100%;
    }
}

@media (min-width:700px) and (max-width: 900px) {
    
    .about-img-info {
        gap: 16px;
    }

}

.feather-icon {
    width: 24px;
    height: 24px;
    stroke: #FAA509;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    vertical-align: text-bottom;
    margin-right: 16px;
}

.icon-size {
    width: 48px;
    height: 48px;
    stroke-width: 2;
    margin-right: 20px;
    margin-top: 16px;
}

