
.main-activities {
    background-color: #fff;
    border-bottom: 2px solid #f5f5f5;
}

img {
    width: 100%;
}

.activities {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    grid-gap: 40px;
    margin: 0  40px;
    margin-bottom: 60px;
}

.activity {
    background-color: #eceaeacc;
    padding: 10px;
}

.activities-img img {
    height: 180px;
}

.activities-name {
    margin: 10px 5px;
    color: rgba(0, 0, 0, 0.671);
    text-transform: capitalize;
    font-size: 1rem;
}

.activities-info {
    margin: 10px 5px;
    font-size: 1.2rem;
}

.apply-btn {
    text-transform: capitalize;
    cursor: pointer;
    border: none;
    /* border: 1px solid #fff; */
    background: none;
    padding: 10px;
    color: #15EB89;;
    font-weight: 500;
    font-size: 1rem;
}

.apply-btn:hover {
    color: #000;
}

@media (max-width:700px) {
    .activities {
        grid-template-columns: 300px;
        justify-content: center;
    }
}

@media (min-width:700px) and (max-width: 1000px){
    .activities {
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
    }
}

.other-activities {
    margin: 60px 40px;
    display: flex;
    justify-content: center;
}

.other-activities-conc {
    max-width: 800px;
}

.activity-items {
    margin-bottom: 40px;
    border-bottom: 1px solid #0000000f;
    padding-bottom: 20px;
}

.activity-title {
    font-size: 1.7rem;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.date {
    font-size: .9rem;
    font-weight: 600;
    color: #15EB89;
    margin-bottom: 5px;
}

.activity-text {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.read-more {
    margin: 15px 0;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    padding: 10px;
    background-color: #15EB89;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 5px;
}

.read-more:hover {
    color: #000;
}

@media (max-width:700px) {
    .activity-title {
        font-size: 1.2rem;
    }

    .date {
        font-size: .5rem;
    }

    .activity-text {
        font-size: .9rem;
    }

    .read-more {
        padding: 5px;
        font-size: .7rem;
    }
}

@media (min-width:700px) and (max-width: 1000px) {
    .activity-title {
        font-size: 1.5rem;
    }
    
    .date {
        font-size: .7rem;
    }
    
    .activity-text {
        font-size: 1.2rem;
    }
    
    .read-more {
        padding: 7px;
        font-size: .9rem;
    }
}