.aims-obj {
    display: grid;
    justify-content: center;
    margin-bottom: 60px;
}

.aims-obj-conc {
    max-width: 800px;
}

.thematic-areas {
    list-style: none;
}

.li-conc {
    display: flex;
    line-height: 1.5;
}

.li-icon {
    margin-top: 16px;
}

.obj-items li {
    padding: 10px 0;
    font-size: 20px;
}

.strategies li {
    margin-top: 20px;
    font-size: 20px;
}

.key-focus-items {
    display: flex;
    margin-bottom: 16px;
}

.key-focus-items h3 {
    font-weight: 600;
    font-size: 1.4rem;
}

.key-focus-items p {
    font-size: 1.2rem;
    }

.key-focus-items ul {
    list-style: none;
    margin-left: 10px;
    margin-top: 5px;
}

.key-focus-items li {
    padding: 2px 0;
}

.feather-icon {
    width: 24px;
    height: 24px;
    stroke: #FAA509;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    vertical-align: text-bottom;
    margin-right: 16px;
}

.icon-size {
    width: 48px;
    height: 48px;
    stroke-width: 2;
    margin-right: 20px;
    margin-top: 16px;
}

.key-focus-items .li-icon {
    margin-top: 2px;

}

.mgr {
    margin-right: 3px;
}

.target li {
    padding: 10px 0;
    font-size: 20px;
}

.str {
    stroke-width: 2;
}

@media (max-width:830px) {
    .aims-obj-conc {
    margin: 0 25px 0 18px;
}

.str {
    margin-left: 5px;
}
}