.contact {
    background-color: #fcfcfc;
    padding-bottom: 60px;
}

.contact-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 100%;
}

.contacts {
    background-color: #eeefedf6;
    border-radius: 3px;
    padding: 30px;
    text-align: center;
    min-width: 300px;
    max-width: 300px;
    height: 250px;
}

.contacts > *{
    margin-bottom: 1rem;
}

.phone {
    background: transparent;
    background-image: url("../assets/icons/icons8-callback-80.png");
    width: 50px;
    height: 50px;
    background-size: contain;
    border: none;
}

.email {
    background: transparent;
    background-image: url("../assets/icons/icons8-email-open-50.png");
    width: 50px;
    height: 50px;
    background-size: contain;
    border: none;
}

.address {
    background: transparent;
    background-image: url("../assets/icons/icons8-address-50.png");
    width: 50px;
    height: 50px;
    background-size: contain;
    border: none;
}

@media (max-width: 700px) {
    .contact-items {
        display: grid;
        grid-template-columns: 300px;
        justify-content: center;
        gap: 20px;
        
}
}

@media (min-width: 700px) and (max-width: 1000px){

    .contact-items {
        display: grid;
        grid-template-columns: 300px 300px;
        justify-content: center;
        gap: 20px;
    }
}