.photo-gallery-conc {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.photo-gallery {
    max-width: 1250px;
}
.photo-group {
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
}
.photo-group img {
    width: 100%;
    border-radius: 2px;
    max-width: 400px;
    max-height: 400px;
}

