.first-conc {
    display: flex;
    height: 100px;
}

.first-conc-box {
    width: 100%;
    background-color: #DCFEC1;
}

.first-conc-box-text {
    margin: 20px 0 0 60px;
}

.first-conc-box-text h2{
    text-transform: uppercase;
    margin-bottom: 5px;
}

.first-conc-links a {
    color: #000;
    text-decoration: none;
}

.first-conc-links a:hover {
    color: #111211a3;
}

.first-conc-links .highlight {
    color: #FAA509;
}

/* @media (max-width:800px) {
    .first-conc-box {
        width: 80%;
    }
    
    .second-conc-box {
        width: 20%;
    }
} */

