.first-conc {
    display: flex;
    height: 100px;
}

.first-conc-box {
    width: 70%;
    background-color: #DCFEC1;
}

.second-conc-box {
    width: 30%;
    background: #f2c87a;
    background: linear-gradient(180deg, rgba(242, 200, 122, 1) 41%, rgba(255, 255, 255, 1) 100%);
}

.first-conc-box-text {
    margin: 20px 0 0 60px;
}

.first-conc-box-text h2{
    text-transform: uppercase;
    margin-bottom: 5px;
}

.first-conc-links a {
    color: #000;
    text-decoration: none;
}

.first-conc-links a:hover {
    color: #111211a3;
}

.first-conc-links .active {
    color: #FAA509;
}

@media (max-width:800px) {
    .first-conc-box {
        width: 80%;
    }
    
    .second-conc-box {
        width: 20%;
    }
}

